<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Title" data-title="金属开口平衡表" data-button="退出全屏"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="metalopen_output" data-view="Graph" data-title="今日实际产量与前一个月实际产量" data-graphtype="area"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
      <div data-id="metalopen_capicity" data-minWidth="340" data-height="380"  data-stacking="normal" data-view="Highchart" data-title="前一个月缺数、完工数、核定产能对比" data-graphtype="column"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="metalopen_plan" data-view="List" data-unordered="true" data-title="缺失详细" data-lack="true"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div  data-id="metalopen_sum_unfinished" data-view="Text" data-title="累计误期" ></div>
    </li>
    <li data-row="5" data-col="2" data-sizex="1" data-sizey="1">
      <div  data-id="metalopen_sum_planunfinished" data-view="Text" data-title="存量" ></div>
    </li>

    <li data-row="4" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="mentalopen_plan_30f"  data-view="X1y1" data-title="未来每日计划量"></div>
    </li>
  </ul>

</div>