<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Title" data-title="金属打样平衡表" data-button="退出全屏"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div  data-id="mentalproofing_unfinished" data-view="Text" data-title="前一个月的累计误期值" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mentalproofing_finishrate" data-view="Meter" data-unit="%" data-title="近一个月每日完工数占计划数比率" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mentalprooging_unfinishedrate" data-view="Meter" data-unit="%" data-title="总累计误期占总计划量的比值" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-class="small-chart" data-id="mentalproofing_capacity" data-stacking="normal" data-view="Highchart" data-title="前一个月缺数、完工数对比" ></div>
    </li>

  </ul>
</div>