<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Title" data-title="订单分析表" data-button="退出全屏"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div  data-id="order_daily_num" data-view="Text" data-title="今日订单份数" ></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div  data-id="order_daily_sum" data-view="Text" data-title="今日订单总量" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-class="small-chart" data-id="order_cusordercate" data-view="X1y1" data-title="美特斯邦威订单份数"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-class="small-chart" data-id="order_cusordernum" data-view="X1y1" data-title="各订单类型数量"></div>
    </li>
  </ul>
</div>