<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Title" data-title="销售分析表" data-button="退出全屏"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-class="small-chart" data-legend="true" data-id="oeeteep_facoee"data-view="Highchart" data-title="塑钢一车间与全厂平均的OEE" data-graphtype="column"></div>
    </li>
  </ul>
</div>