<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Title" data-title="设备综合效率表" data-button="退出全屏"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div  data-id="jn_oeeteep_currentoee" data-view="Text" data-title="当前平均TEEP" ></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div  data-id="jn_oeeteep_currentteep" data-view="Text" data-title="当前产能" ></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-class="small-chart" data-compare=true data-id="jn_oeeteep_facoee" data-view="X1y1" data-title="通用一部与全厂平均的OEE" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-class="small-chart" data-compare=true  data-id="jn_oeeteep_facteep" data-view="X1y1" data-title="通用一部与全厂平均的TEEP" ></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-class="small-chart" data-id="jn_oeeteep_fst3oee"data-view="X1y1" data-title="各生产车间OEE的前三名排行" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-class="small-chart" data-id="jn_oeeteep_lst3oee"data-view="X1y1" data-title="各生产车间OEE的后三名排行" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-class="small-chart" data-id="jn_oeeteep_fst3teep" data-view="X1y1" data-title="各生产车间TEEP的前三名排行" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-class="small-chart" data-id="jn_oeeteep_lst3teep"data-view="X1y1" data-title="各生产车间TEEP的后三名排行" ></div>
    </li>
  </ul>
</div>