<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Title" data-title="财务分析表" data-button="退出全屏"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-class="small-chart" data-legend="true" data-id="jn_sale_tws_buy"data-view="X1y2" data-title="近期销售对比"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-legend="true" data-id="jn_sale_allsub_buy"data-view="Pie" data-title="各分厂销售对比" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-class="small-chart"  data-id="jn_sale_order_catenum"data-view="X1y1" data-title="客户预测量排行" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-class="small-chart"  data-id="jn_sale_order_sumnum"data-view="X1y1" data-title="客户销售量排行" ></div>
    </li>
  </ul>
</div>