<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Title" data-title="生产监控表" data-button="退出全屏"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div  data-id="jn_mentalproofing_unfinished" data-view="Text" data-title="前一个月的客户投诉数" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="jn_mentalproofing_finishrate" data-view="Meter" data-unit="%" data-title="生产效率" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="jn_mentalprooging_unfinishedrate" data-view="Meter" data-unit=" " data-title="PPM缺陷" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-class="small-chart" data-id="jn_mentalproofing_capacity" data-stacking="normal" data-view="Highchart" data-title="前一个月合格数和不合格数对比" data-graphtype="column"></div>
    </li>

  </ul>
</div>