$title-color:rgba(255, 255, 255, 0.7);
.widget-x1y1 {
  padding-bottom:0px !important;
  .title{
    color:$title-color;
    position:absolute;
    left:0px;
    right:0px;
    top:5px;
    text-align:center;

  }
  .small-chart{
    height:190px !important;
  }
}